<template name="mensagens_disclaimer">
    <div class="row clearfix">
        <div class="col-md-2 column">
            <img alt="140x140" src="img/mic.png" class="img-circle">
        </div>
        <div class="col-md-10 column">
            <h1 class="text-left">
					Mensagens Gravadas
				</h1>
            <p>
                No nosso site você poderá encontrar mensagens que foram ministradas na nossa Igreja e que foram gravadas para que você possa ser abençoado na sua casa. Se você sentiu o poder de Deus, não deixe de nos fazer uma visita para orarmos por você!
            </p>
            <a href="/mensagens">
                <button type="button" class="btn btn-info btn-block">Acesse aqui</button>
            </a>
        </div>
    </div>
</template>